<h1>Buy Now</h1>

	<div class="form-group">
		<input type="text" class="form-control" placeholder="Recipient Name*">
	</div>
	<div class="form-group">
		<textarea class="form-control" placeholder="Recipient Address*"></textarea>
	</div>
	<div class="form-group">
		<textarea class="form-control" placeholder="Optional Message"></textarea>
	</div>


<%= form_tag buy_path do %>
  <article>
    <label class="amount">
      <span>Amount Owing: $500</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="500"
          data-locale="auto"></script>
<% end %>