<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome to Sending Glitter</title>
</head>
<body>

	<div class="home_div">
		<p class="home_text">Name the person and we'll mail them an envelope full of glitter...
		<br>click below</p>
		<button id="bnbtn">Buy Now</button>

	</div>
	
</body>
</html>