<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome to Sending Glitter</title>
</head>
<body>

	<div class="home_div">
		<strong><p class="home_text">This is how we roll</p></strong>
		<strong><p class="home_text">click below</p></strong>
		<button id="bnbtn">Buy Now</button>

	</div>
	
</body>
</html>